
<h1>Welcome to QuizMe project</h1>

<div class="col-lg-10 mx-auto mt-5">
  <!-- Debugging statement to inspect @users -->
 <div class="row mt-4 mb-4">
   <div class="card-body">
     <h3>Search hello Username </h3>
     <%= search_form_for @q, url: root_path do |form| %>
     <div class="input-group mb-3">
      <%= form.search_field :username_cont, class: "form-control",placeholder: "Search by username", area: {label: "Search by username",describedby: "button-addon2"}%>
      <%= form.submit "search", class: "btn btn-primary", id: "button-addon2"%>
    </div>
    <%end%>
  </div>
 </div>

  <div class="row mt-4 mb-4">
    <% @users.each do |user|%>
   
    <div class="col-lg-3 mb-3 mt-3">
      <div class="card text-center shadow" style="min-height: 300px;">
        <div class="card-body">
           <%= image_tag "download.jpeg",style: "width: 90px; border-radius: 10px;" %>
           <div class="user-info">
            <h5 style="color: red;"> <%= user.email %></h5>
            <p class="lead"><%= user.username %></p>
            <%= link_to "View Profile",member_path(user), class: "btn btn-primary"%>
           </div>
        </div>
      </div>
    </div>
    <% end %>
   
  </div>
  <%= will_paginate @users, renderer: BootstrapPagination::Rails %>
</div>

